* {
    padding: 0px;
    margin: 0px;
}

:root{
    --dark-blue: #222831;
    --light-blue: #30475e;
    --grey: #393e46d1;
    --white: #ffffff;
}

body {
    background-color: var(--dark-blue);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    font-weight: 400;
}

.wrapper {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock h1 {
    font-family: 'Courgette', cursive;
    display: flex;
    font-size: 36pt;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    width: 100%;
}

.category {
    width: 150px;
    background: var(--grey);
    padding: 15px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.5px;
}

.category ul {
    list-style-type: none;
}

.category li {
    margin: 10px;
}